<!-- 1. 부트 스트랩 초기 설정 -->
<!-- 2. 디자인은 Forms -> overview 맨위에 있는게 젤 나은거같음 -->
<!-- 3. 태그 크기가 마음에 안 드니까 div로 감싸서 조절 -->
<!-- 4. form 태그에 
    <form action="{{ url_for('write') }}" method="POST"></form>
    속성 넣기
-->
<!-- form 밑에 리스트 div 만들기 -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <ul>
        <li>1n</li>
        <li>2n</li>
        <li>3n</li>
    </ul>
</body>
</html>